/* Main CSS Entry Point */

@import "global.css";
@import "login.css";
@import "sidebar.css";
@import "layout.css";
@import "dashboard.css";
@import "unified-header.css";
@import "courses.css";
@import "modules.css";
@import "resources.css";
@import "course-detail.css";
@import "profile.css";
@import "responsive.css";